
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br />
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Adi</th>
            <th>Aciklama</th>
            <th>Durum</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Egitim</td>
            <td>Aciklama Yaptik</td>
            <td>True</td>
        </tr>
    </table>
    <button class="btn btn-info">Yeni Kategori</button>
    <button class="btn btn-warning">Kategori Listesi</button>
    <button class="btn btn-danger">Kategori Aciklamalari</button>
</body>
</html>
